{% extends 'home.html' %}
{% load static %}

{% block body %}
        <div class="row mt-5">
                <div class="col-md-4 mx-auto">

                      <form action="{% url 'teacher:teacher_login' %}" method="post" name="login">
                            {% csrf_token %}
                            <div class="text-center ">
                            <img src="{% static "teacher_2.png" %}" style=" border-radius:20%; width:100px;height:100px;" >
                                    <h2>Welcome Teachers</h2>
                                 </div>

                         <div class="form-group">
                            <input type="id" name="id"  class="form-control my-input" id="id" placeholder="Entr Your Id">
                         </div>
                         <div class="form-group">
                            <input type="password" name="password" id="password"  class="form-control my-input" placeholder="Password">
                         </div>

                         <div class="text-center ">

                            <button type="submit" class="btn btn-primary">Login</button>
                         </div>


                      </form>

                </div>
         </div>
{% endblock %}
