{% extends 'home.html' %}
{% block body %}
<center>
  {% if m %}
<h2>Result</h2>
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sr no.</th>
      <th scope="col">Subject 1</th>
      <th scope="col">Subject 2</th>
      <th scope="col">Subject 3</th>
      <th scope="col">Subject 4</th>
      <th scope="col">Subject 5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{m.s1}}</td>
      <td>{{m.s2}}</td>
      <td>{{m.s3}}</td>
      <td>{{m.s4}}</td>
      <td>{{m.s5}}</td>
    </tr>
  </tbody>
</table>
{% endif %}
{% if a %}
<h2>Attendence</h2>
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sr no.</th>
      <th scope="col">Subject 1</th>
      <th scope="col">Subject 2</th>
      <th scope="col">Subject 3</th>
      <th scope="col">Subject 4</th>
      <th scope="col">Subject 5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{a.s1}}</td>
      <td>{{a.s2}}</td>
      <td>{{a.s3}}</td>
      <td>{{a.s4}}</td>
      <td>{{a.s5}}</td>
    </tr>
  </tbody>
</table>
{% endif %}
<h2>Notice Board</h2>
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Notices</th>


    </tr>
  </thead>
  <tbody class="table-striped">
{% for n in notices %}
    <tr><td>{{n.notice}}</td></tr>
{% endfor %}
  </tbody>
</table>
</center>
{% endblock %}
